.bike-info {
  display: none;
}

.search-result {
  margin-top: 50px;
  margin: 10px;
  padding-top: 15px;
}



  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 50%;
  }
